body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
      background: -webkit-linear-gradient(rgb(8, 185, 37), rgb(103, 143, 202),rgb(7, 180, 21));
      -webkit-background-clip: text;
      -webkit-text-fill-color:transparent;
    margin: 100px 500px;
    
}
.container{
    color: rgb(32, 31, 31);
    text-align: center;
    margin: 100px 500px;
    padding: 10px 50px;
    background-color: lightblue;
    cursor: pointer;
    border-radius: 40px;
}
.container #btn{
   display: grid;
   margin: 20px 100px;
   text-align: center;
   
}